version: '3.9'

services:
  judge_service:
    build: .
    environment:
      # Внутри контейнера ходим в Postgres, который проброшен наружу на 5433
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres@host.docker.internal:5433/course
    networks:
      edge:
        aliases:
          - judge
    expose: 
      - "8000"
    # Порт наружу — для дебага, через API Gateway идти не обязательно
    ports:
      - "8001:8000"

networks:
  edge:
    external: true
